.primary-headline {
	font-size: 2rem;
	line-height: 0.95;
	font-weight: 700;
	margin: 1rem 1rem 0 1rem;
}
.secondary-headline {
	font-size: 1.2rem;
	font-size: 1rem;
	font-weight: 700;
	margin: 0 1rem 0.5rem 1rem;
}
